@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gardient {
  background: linear-gradient(89.88deg, #DF2BFF 8.4%, #00B7FF 47.72%);
  -webkit-background-clip: text;  
  background-clip: text;     
  color: transparent;
}

.bg-garidentline{
   background: linear-gradient(89.88deg, #DF2BFF 8.4%, #00B7FF 47.72%);
}

.hover-svg svg path{
  fill: white !important;
}